.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.logo img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.logoText {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.ninja {
  font-weight: 800;
  font-size: 1.2rem;
  color: #9b5824; /* Couleur Sasquatch (marron) */
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
}

.sasquatch {
  font-weight: 800;
  font-size: 1.2rem;
  color: #142d17; /* Couleur Ninja (vert foncé) */
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
}

/* Effet hover */
.logo:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
